* {
  box-sizing: border-box;

}

body {
  background: white;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* Navigation Top right */

#nav {
  width: 100%;
  padding: 15px  0px 15px 0px;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
}

#nav .ul {
  margin-right: 15px;
}

#nav ul {
  height: 100%;
  margin: 0px;
  padding: 2px 0px 2px 0px;
}

#nav li {
  display: inline;
  list-style-type: none;
  padding-right: 5px;
}

#nav li a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

#nav li a:hover {
  color: rgba(0,0,0,0.6);
  text-decoration: underline;
}



.signin {
  width: 55px;
  height: 30px;
  color:white;
  font-weight: bold;
  background: rgb(49, 116, 241);
  border: none;
  border-radius: 1.5px;
  text-align: center;
  margin-right: 27px;

}

#signin {

}

.signin:hover {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}



/* Boxes */

#sefx {
  width: 17px;
  margin-right: 15px;
  padding-top: 5px;
}

.squares,  .box1,  .box2,  .box3,  .box4,  .box5,  .box6,  .box7,  .box8 {
  background: rgba(0,0,0,0.4);
  width: 4px;
  height: 4px;
}

 .box1, .box3,  .box4,  .box5,  .box7,  .box8  {
  margin-left: 6px;

}

 .box2,  .box6 {
  margin-top:2px;
}


/* Google Body */

#googlebody {
  width: 45%;
  margin: 20px auto;
  display: block;
}


/* _______________________________________________________________ */

.img {
  width: 550px;
  height:  220px;
  margin: auto;
  background: pink;
  padding: 0px;
  border: 0px;
  background: url("../Img/google_logo.png") no-repeat;
  background-size: cover;
}

/* _______________________________________________________________ */

input[type="text"] {
  width: 487px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

form {
  background: yellow;
}


/* Mic tootltip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%
  margin-left:-60px;
  opacity: 0pc;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;

}

/* _______________________________________________________________ */

/* Buttton1 and Button2 */

  #buttons {
    width: 33%;
    margin: 45px auto;
    display: flex;
    justify-content: space-between;
    background: forestgreen;

  }

 .button1, .button2, #dbtn .dbtn1, #dbtn .dbtn2 {
    width: 135px;
    height:35px;
    background: rgba(0,0,0,0.04);
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
    margin-top: -17px;
    margin-bottom: -50px;
    color: #5F6368;
    cursor: pointer;
  }

  .button2 {
    width: 145px;
  }


  #googlebody .button1:focus, #googlebody .button2:focus {
    outline: none;
    border: 1px solid blue;
  }

  #googlebody .button1:hover, #googlebody .button2:hover {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #222;
    border: 1px solid #c6c6c6;
  }

  #googlebody .search {
    width: 582px;
    height: 46px;
    margin: 0 auto;
    background: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    border: 1px solid #dfe1e5
  }

  #googlebody .search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
  }

  #googlebody .search .sicon {
    width: 30px;
    height: 30px;
    margin: 8px 0px 0px 0px;
  }

  #googlebody .search .spicon {
    width: 25px;
    height: 30px;
    margin: 8px 9px 0px 0px;
    transform: scale(0.9);
  }

#googlebody a {
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  color: indigo;
}

#googlebody a:hover {
  text-decoration: underline;
}

#googlebody .goffer, #googlebody ul {
  width: 75%;
  margin: 0px auto;
  text-align: center;
}

#googlebody .goffer {
  display: block;
  margin-top: 30px;
}

#googlebody ul {
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
}


/* Drop Down */

#dropdown {
    width: 582px;
    height: 350px;
    padding: 20px;
    margin: 0 auto;
    background: white;
    padding: 0px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    display: none;
  }

#dropdown .clock {
    width: 15px;
    height: 15px;
    background: url("../Img/clock.png");
    background-size: contain;
    padding: 10px;
    border-radius: 50%;
}


  #dropdown ul  {
    list-style-type: disc;
    width: 582px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  #dropdown ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px 20px 5px 15px;
    cursor: auto;
    font-size: 17px;
  }

#dropdown ul li span {
  width: 85%;
  color: indigo;
  text-align: left;
}

  #dropdown ul li:hover {
    background: #eee;
  }

  #dropdown ul li a {
    text-decoration: none;
    font-size: 12px;
    color: gray;
  }

  #dropdown ul li a:hover {
    text-decoration: underline;
    color: blue;
  }

  #dbtn {
    width: 48.5%;
    background-color: yellow;
    margin: 12em auto;
    display: flex;
    justify-content: space-between;
  }


  /* ghost styles/ ghostcss


  #googlebody ul {
    list-style-type: none;
  }

  #googlebody .search:focus {
      outline-style: none;
      border-color: none;
      box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  }*/





  /* _______________________________________________________________ */


  /* footer and Info */

  footer {
    border-top: 0.2px solid rgba(0,0,0,0.2);
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: #f2f2f2;
  }

  #p {
    border-bottom: 0.2px solid rgba(0,0,0,0.2);
    width: 100%;
    margin: 0px;
    padding: 10px 0px 10px 40px;
    color: rgba(0,0,0,0.6);
  }

  footer .options {
    height: 23px;
    border-top: 0.4px solid rgba(0,0,0,0.15);
    margin: 0px;
    padding: 0px;
  }

  footer ul {
    height: 15px;
    font-size: 14px;
    float: left;
    clear: left;
  }

  footer li {
    padding: 0px 15px 0px 0px;
    list-style-type: none;
    display: inline;
  }

  footer li a {
    padding: 0px;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    margin-right: 10px;
  }

  footer li a:hover {
    text-decoration: underline;
    color: rgba(0,0,0,0.6);
  }

  footer #ul {
    height: 15px;
    float: right;
    clear: right;
  }

  footer #ul li {
    padding: 0px 15px 0px 0px;
    margin-left: 2px;
  }




  /* __________ Media Queries ___________________________*/


@media only screen and  (max-width: 768px) {

  body {
    float: none;
    width: 100%;
    overflow: visible;
     overflow-x: hidden;
  }



  #nav ul {
    display: inline;
    margin-left: -40px;

  }

  #signin {

    margin-top: 2px;
  }

  #squares {
      margin-left: 0%;
      margin-top: 10px;
  }

  .img img {
  width: 250px;
  height: 100px;
  margin-left: 17.5%;
  margin-top: -50px;
}


#buttons {
    margin-left: 35%;
    width: 100%;
  }

.button1, .button2 {
    width: 140px;
    height:35px;
    display: block;
    margin-bottom: 15px;
  }

  .button2 {
    margin-top: -10px;

   }


   #info {
    margin-top: -10px;
   }

   footer #ul  {
    float:none;
    width: 100%;
    margin:auto;
    margin-left: -20px;
    padding-bottom: -8px;
    word-wrap: break-word;

  }


}



@media only screen and  (max-width: 450px) {

  .img img {
  width: 250px;
  height: 100px;
  margin-left: -85%;
  margin-top: -50px;
}


#buttons {
    margin-left: 12%;
    width: 100%;
  }

.button1, .button2 {
    width: 140px;
    height:35px;
    display: block;
    margin-bottom: 15px;
  }



}


@media only screen and  (max-width: 350px) {

  .img img {
  width: 250px;
  height: 100px;
  margin-left: -450%;
  margin-top: -50px;
}


#buttons {
    margin-left: -17%;
    width: 100%;
  }

.button1, .button2 {
    width: 140px;
    height:35px;
    display: block;
    margin-bottom: 15px;
  }




}
